/* Name: Erick Diaz  Date: 10/29/23 */

body{
  background-color: black;
}

@keyframes fadeIn{
  from{
    scale: 0;
    transform: rotate(0deg);
  }
  to{
    scale: 1;
    transform: rotate(360deg);
  }
}

.card{
  animation: fadeIn 1s ease-in forwards;
}